@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-zinc-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


@layer base {

  a {
    text-decoration: underline;
    color: var(--color-sky-400);
  }

  p {
    margin-left: 2rem
  }
  body {
    color: var(--color-zinc-300)
  }

  p.thick {
    color: var(--color-sky-300)
  }

  hr {
    color: var(--color-zinc-500)
  }

  table th,
  td {
    border: 1px solid;
    padding: calc(var(--spacing) *2);

  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: bold;
  }

  h2 {
    font-size: var(--text-3xl);
    font-weight: bold
  }

  h3 {
    font-size: var(--text-2xl);
    font-weight: bold
  }

  h4 {
    font-size: var(--text-xl);
    font-weight: bold
  }

  h5 {
    font-size: var(--text-lg);
    font-weight: bold
  }

  h6 {
    font-weight: bold
  }

  ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
    
    p {
      margin: revert;
    }
  }

}
